.wrapper{
    padding: 50px 100px 50px 0px;
    font-size:30px;
}

img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-bottom: -8px;
}

.userReviewCount{
    font-size: 18px;
    padding:10px 0;
}

.scoreOutOf{
    padding-top: 12px;
    font-size: 18px;
    font-weight: bold; 
}